@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");
:root {
  --color-background: #fafafa;
  --color-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-background);
}
.no-padding {
  padding: 0px !important;
}
.main-padding {
  padding: 0px 75px;
  position: relative;
}
.slider-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-hero-image {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}
.slider-btn-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-bg {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.slider-arrow {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.home-banner-box {
  display: flex;
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0px;
  align-items: center;
  justify-content: center;
}
.slider-heading {
  color: var(--color-white);
  text-align: center;
  font-size: 45px;
  font-family: "Inter";
  font-weight: 200;
  margin-bottom: 12px;
}
.slider-description {
  color: var(--color-white);
  text-align: center;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  margin-bottom: 0px;
}
.padding_twelve {
  padding: 12px 0px 12px 12px;
}
.flex_direction {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.padding {
  padding: 0px 140px 60px 140px;
}
.marginTop {
  margin-top: 75px;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 50px;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.loader {
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  animation: fillLoader 2s linear infinite;
}
.vector_icon {
  position: absolute;
}

@keyframes fillLoader {
  0% {
    transform: rotate(0deg);
    border-top-color: #0a63a4; /* Change color as needed */
    border-right-color: #0a63a4;
  }
  25% {
    border-right-color: #0a63a4;
  }
  50% {
    border-bottom-color: #0a63a4;
  }
  75% {
    border-left-color: #0a63a4;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #0a63a4;
    border-right-color: #0a63a4;
    border-bottom-color: #0a63a4;
    border-left-color: #0a63a4;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#image {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.back {
  padding-left: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 75%;
  color: #333333;

  margin-bottom: 24px;
}
.about_heading1 {
  font-family: Inter;
  font-size: 45px;
  font-weight: 200;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 8px;
}

.about_heading2 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 24px;
}

.about_paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -1px;
  text-align: justify;
  color: #333333;
}
.bold {
  font-weight: 600 !important;
}

.margintb {
  margin-top: 80px;
  margin-bottom: 80px;
}

.padding_fourty {
  padding: 40px;
}

.data_heading {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.data_paragraph {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  opacity: 75%;
}
.box_border {
  width: 633px;
  height: 184px;
  padding: 32px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  border-left: 6px solid;
}
.data_lightblue {
  color: #476599;
}
.border_lightblue {
  border-left-color: #476599;
}
.data_red {
  color: #cc5750;
}
.border_red {
  border-left-color: #cc5750;
}
.data_sky {
  color: #48b4da;
}
.border_sky {
  border-left-color: #48b4da;
}
.gap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.link_apply {
  gap: 10px;
  text-decoration: none;
  color: #0a63a4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.apply_btn {
  margin-top: 8px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #0a63a4;
}
.box_work {
  padding: 32px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  gap: 12px;
}
a:hover {
  text-decoration: none;
}

.date_heading {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.approx_heading {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.approx_bold {
  font-weight: 600 !important;
}

.read_box {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}
.adjust_col {
  padding: 0px 105px 0px 105px;
}
.display_start {
  display: flex;
}

.data_paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data_paragraph.expanded {
  -webkit-line-clamp: unset;
  overflow: unset;
}
.read_btn {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  color: #0a63a4;
}
.margin_boxTop {
  margin-top: 32px;
  margin-bottom: 80px;
}

.rotate {
  width: 40px;
  position: relative;
  border-radius: 50%;
  height: 40px;
}

.slideshow {
  position: relative;
  height: 700px;
  overflow: hidden;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}
.progress-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-circle-background {
  fill: #eee;
}

.progress-circle-foreground {
  fill: #f00;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.languages {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-bottom: 32px;
}

.language_description {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
  opacity: 75%;
}
.adjust_description {
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 86px 0 86px;
}

.label_heading {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  opacity: 75%;
  margin-bottom: 4px;
}

.form {
  display: flex;

  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
.input_type {
  width: 505px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  padding: 12px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.contact_heading {
  margin-bottom: 32px;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.text_area {
  padding: 12px;
  width: 505px;
  height: 146px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  gap: 10px;
}

.input_form {
  position: absolute;
  width: 100%;
  height: 617px;
  background-color: #ffffff;
  padding: 64px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  top: -217px;
}
.send_btn {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 50%;
  color: #333333;
  border: none;
  background-color: #ffffff;
}
.flex_end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  border-radius: 1px;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  top: 106px;
  border: 1px solid #e6e6e6;
}
.dot_blue {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #476599;
}
.dot_red {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #cc5750;
}
.dot_sky {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #48b4da;
}

.story_box {
  width: 299.33px;
  flex-direction: column;
  height: 117px;
  gap: 16px;
}

.story_heading {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.story_paragraph {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.flex_center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spot_1 {
  position: absolute;
  top: 20px;
  left: 9.5%;
}
.spot_2 {
  position: absolute;
  top: 20px;
  left: 49%;
}
.spot_3 {
  position: absolute;
  top: 20px;
  left: 89%;
}
.spot_4 {
  position: absolute;
  left: 29.25%;
  top: -100px;
}
.spot_5 {
  position: absolute;
  top: -100px;
  left: 68.75%;
}
.margin_adjust {
  margin-top: 180px;
  margin-bottom: 80px;
}
.team_heading1 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 4px;
}
.team_heading2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 75%;
  color: #333333;
  margin-bottom: 24px;
}
.team_img {
  width: 100%;
}
.social {
  height: 24px;
}
.social_link {
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  display: flex;
}
.team_box {
  width: 300px;
  height: 150px;
  padding: 24px;
  border: 0px 1px 1px 1px;
  gap: 24px;
}

.team_box {
  padding: 16px;
  width: 100%;
  border-left: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
}

.team_gap {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}
.margin-top {
  margin-top: 32px;
}

.promise_heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
}
.promise_paragraph {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}
.promise_red {
  margin-left: 24px;
  width: 10px;
  height: 10px;
  border: 2px solid #cc5750;
  background-color: #cc5750;
  border-radius: 10px;
}
.promise_blue {
  margin-right: 24px;
  width: 10px;
  height: 10px;
  border: 2px solid #476599;
  background-color: #476599;
  border-radius: 10px;
}
.promise_sky {
  margin-right: 24px;
  width: 10px;
  height: 10px;
  border: 2px solid #48b4da;
  background-color: #48b4da;
  border-radius: 10px;
}
